# ==============================
# Virtual Environment
# ==============================
venv/
env/
ENV/
.venv/

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# Dataset Folders
# ==============================
data/
yolo_data/

# ==============================
# YOLO Runs
# ==============================
runs/

# ==============================
# Model Weights
# ==============================
*.pth
*.pt

# ==============================
# Python Cache
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Jupyter Notebooks Checkpoints
# ==============================
.ipynb_checkpoints/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Streamlit Cache
# ==============================
.streamlit/

# ==============================
# Logs
# ==============================
*.log